$line-height: 1.7rem;
$paper-font-size: $line-height * 0.8;
$header-font-size: $line-height * 1.1;
$border-radius: 6px;
$button-font-size: $line-height * 1.5;

* {
    box-sizing: border-box;
}

html {
    font-family: 'Gloria Hallelujah', cursive;
    line-height: $line-height;
    user-select: none;
}

[hidden] {
    display: none !important;
}

.paper {
    
    position: relative;
    width: 400px;
    height: $line-height * 24;
    margin: 0 auto;

    font-size: $paper-font-size;

    border: 1px solid #ccc;
    border-radius: $border-radius;
    box-shadow: 2px 2px 2px 0px gray;

    background: linear-gradient(0, #abd9f0 0%, #fff 8%);
    background-size: 100% $line-height;

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        top: 0;
        right: 1rem;
        bottom: 0;
        border: 1px solid;
        border-color: transparent #f0c1c1;
      }


    .header {
        font-size: $header-font-size;
        border-bottom: 1px solid rgba(.5, .5, .5, .2);

        & > div {
            display: flex;
            justify-content: space-between;
            padding: 0 $line-height;
            min-height: $line-height * 3;
            & > div {
                line-height: $line-height*1.2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    
    .content {
        padding: 0 $line-height;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        background-color: rgba(.5, .5, .5, .4);
        border-radius: $border-radius;
        box-shadow: 2px 2px 2px 0px gray;
        
        display: flex;
        text-align: center;
        align-items: center;
    
        & > button {
            min-height: 30%;
            margin: 0 auto;
            font-family: inherit;
            background: rgba(255, 255, 255, 0.7);
            font-size: $button-font-size;
            border-color: gray;
            border-radius: $border-radius;
            transition: all .2s ease;
    
            &:hover {
                font-size: $button-font-size*1.2;
                background: rgba(255, 255, 255, 0.9);
            }
        }
    }
}




